html{
    box-sizing: border-box;
}
*,
*::before
*::after{
     box-sizing: inherit;
}

a{
color: inherit;
text-decoration: none;

}
button{
padding: 0;
border: none;
background-color: transparent;
cursor: pointer;
}
ul{
list-style: none;

}

body{
font-family: "Inter", sans-serif;
color: #000;
font-weight: 500;
line-height: 1.2;
font-size: 16px;
}
.container{
max-width: 1220px;
padding: 0 10px;
margin: 0 auto;
}
.main__title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
}
.content-item{
    display: none;

}
.content-item.content-item__active{
    display:inline-block;
}
.header{
    min-height: 100vh;
    position: relative;
    /* background: linear-gradient(180.00deg, rgb(182, 182, 182),rgba(235, 235, 235, 0) 100%); */
}
.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  40px  0;
}
.menu__list{
    display: flex;
    align-items: center;
    gap: 0 40px;
    font-weight: 700;
}
.menu__btn{
    padding: 15px 58px;
    border-radius: 30px;
    background-color: #000;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

}
.header__content-imges{
    text-align: center;
    padding-bottom: 0px;

}
.header__content-imges::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -2;
    background: linear-gradient(180.00deg, rgb(202, 219, 235),rgba(235, 235, 235, 0) 100%);
}

.title{
    font-size: 210px;
    font-weight: 700;
    position: absolute;
    padding-top: 15px;
}
.title--pod{
    position: relative;
    z-index: -1;

}
.title--s{
    display: inline-block;
    transform:translateY(60px);

}
.title--m{
    display: inline-block;
    transform:translate(-49px,246px);
}
.title--ax{
    display: inline-block;
    transform:translate(-100px,403px);
    position: relative;
    z-index: -1;
}
.choose-color{
    padding: 45px 0 180px;
    text-align: center;

}
.choose-color__title{
font-size: 36px;
font-weight: 700;


}
.choose-color__text{
margin: 0 auto 80px;

}
.choose-color__list{
display: flex;
gap: 40px;
justify-content: center;

}
.choose__color-btn{
    border-radius: 20px;
    border: 1px solid #777;
    padding:50px 50px ;
}
.choose__color-btn--active{
    display: none;
}
.composition{
margin-bottom: 180px;

}

.composition__title {
    text-align: center;
    
}

.composition__text {
    text-align: center;
    text-wrap: wrap;
    margin: 0 auto 40px; 
    
}
.composition__liner {
    max-width: 625px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
}
.composition__liner-text {
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 15px;
    
}
.composition__liner-text p{
    width: 230px;
}
.case{
    background-color: #fafafa;
    padding: 80px 0 100px;
    text-align: center;

}
.case__text{
    max-width: 825px;
    margin: 0 auto 40px;

}
.energy__title{
    padding-top: 160px;
    margin-bottom: 40px;
}
.energy__num{
font-size: 210px;
font-weight: 700;
margin-bottom: 40px;

}

.energy__text{
    max-width: 400px;
    margin: 0 auto;
}


.audio__inner{
min-height: 220vh;
display: flex;
align-items: flex-end;
justify-content: center;
}
.audio__box{
 text-align: center;
color: #fff;
padding-bottom: 50vh;

}
.audio__text{
width: 300px;
text-align: center;
margin-bottom: 10px;
}
.btn{
text-transform: uppercase;
font-weight: 700;
color: #000;
background-color: #fff;
padding: 15px 58px;
border-radius: 30px;

}
.audio{
/* position: relative; */
background-image: url(img/Group\ audio.jpg);
 background-repeat: no-repeat;
 background-position: top center;
 background-size: cover;
 
}
/* .audio::before{
    content: ''; 
background-image: url(img/audio.jpg);
 background-repeat: no-repeat;
 background-position: top center;
 background-size: cover;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 width: 100%;
 height: 100%;
 z-index: -2; 
}
.audio::after{
    content: '';
    position: absolute;
   background-image: url(img/sound.png);
   bottom: -250px;
   width: 100%;
   height: 150vh;
   left: 0;
   right: 0;
  
   z-index: -1;

} */
.footer{
padding: 50px 0 40px;
background-color: #000;
color: #fff;
text-align: center;
font-weight: 700;

}
.footer__text{ 
    padding: 20px 0;
   

}
.footer__list{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px; 
}